.tooltip {
  z-index: 1500 !important; /* this is the same zindex used by material ui tooltip: https://mui.com/customization/z-index/ */
  max-width: 300px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
